$bg-white: #ffffff;
$bg-lightgray: #fafafa;
$bg-gray: #cecece;
$bg-dark: #212121;

$text-black: #000000;
$text-gray: #555555;
$text-white: #ffffff;


$size-pc: 1080px;
$size-tablet: 760px;
$size-mobile: 480px;